<div class="container aboutme__container--background">
    <div class="row aboutme_row--potho">
        <div class="col-12 text-center my-2">
            <h1>Armando Tapia </h1>
        </div>
        <div class="col-12 col-sm-12 col-md-3 text-center">
            <div>
                <img src="/assets/img/atc_1.jpg" class="aboutme_imagen_circle pb-3" alt="Image Armando Tapia">
            </div>
        </div>
        <div class="col-12 col-sm-12  col-md-9">
            <h3>{{ 'aboutMe.Description' | translate }}</h3>
            <p>{{ 'aboutMe.paragraph_0' | translate }}</p>
            <p>{{ 'aboutMe.paragraph_1' | translate }}</p>
            <p>{{ 'aboutMe.paragraph_2' | translate }} <br> <span> {{ 'aboutMe.paragraph_3' | translate }}</span></p>


        </div>
    </div>
    <div class='row text-center skills_row_background'>
        <div class="col-12 my-3">
            <h3>{{ 'aboutMe.skills' | translate }}</h3>
        </div>
        <div class="col-12 col-sm-12 col-md-6">

            <div (click)="showDetails('git')" class="card m-2 skills_cardGit-backgrund">
                <div class="card-body">
                    <h5 class="card-title card__title--bold">Git/Gitflow</h5>
                    <p *ngIf="!show_git">{{ 'aboutMe.moreDetails' | translate }}</p>
                    <p *ngIf="show_git" class="animate__animated animate__pulse">
                        {{ 'skills.skill_1' | translate }}
                    </p>

                </div>
            </div>
            <div (click)="showDetails('node')" class="card m-2 skills_cardNode-backgrund">
                <div class="card-body">
                    <h5 class="card-title card__title--bold">Node</h5>
                    <p *ngIf="!show_node">{{ 'aboutMe.moreDetails' | translate }}</p>
                    <p *ngIf="show_node" class="animate__animated animate__pulse"> {{ 'skills.skill_2' | translate }}
                    </p>
                </div>
            </div>
            <div (click)="showDetails('angular')" class="card m-2 skills_cardAngular-backgrund">
                <div class="card-body">
                    <h5 class="card-title card__title--bold">Angular</h5>
                    <p *ngIf="!show_angular">{{ 'aboutMe.moreDetails' | translate }}</p>
                    <p *ngIf="show_angular" class="animate__animated animate__pulse">{{ 'skills.skill_3' | translate }}
                    </p>
                </div>
            </div>

        </div>
        <div class="col-12 col-sm-12 col-md-6">

            <div (click)="showDetails('mongo')" class="card m-2 skills_cardMongo-backgrund">
                <div class="card-body">
                    <h5 class="card-title card__title--bold">Mongo</h5>
                    <p *ngIf="!show_mongo">{{ 'aboutMe.moreDetails' | translate }}</p>
                    <p *ngIf="show_mongo" class="animate__animated animate__pulse">{{ 'skills.skill_4' | translate }}
                    </p>
                </div>
            </div>
            <div (click)="showDetails('aws')" class="card m-2 skills_cardAws-backgrund">
                <div class="card-body">
                    <h5 class="card-title card__title--bold">Aws</h5>
                    <p *ngIf="!show_aws">{{ 'aboutMe.moreDetails' | translate }}</p>
                    <p *ngIf="show_aws" class="animate__animated animate__pulse"> {{ 'skills.skill_5' | translate }}
                    </p>
                </div>
            </div>
            <div (click)="showDetails('goodPractices')" class="card m-2 skills_cardGoodPractices-backgrund">
                <div class="card-body">
                    <h5 class="card-title card__title--bold">Buenas práctias</h5>
                    <p *ngIf="!show_goodPractices">{{ 'aboutMe.moreDetails' | translate }}</p>
                    <p *ngIf="show_goodPractices" class="animate__animated animate__pulse">
                        {{ 'skills.skill_6' | translate }}</p>
                </div>
            </div>

        </div>
        <div class="col-12 py-5">
            <button type="button" class="btn btn-outline-info">{{'buttons.aboutMe_pryectos' | translate}}</button>
        </div>
    </div>

</div>