<div class="container aboutme__container--background">
    <div class="row">
        <div class="col-12 text-center my-3">
            <h1>Armando Tapia </h1>
        </div>
        <div class="col-12 col-sm-6 text-center">
            <div>
                <img src="../../../assets/img/atc_1.jpg" class="aboutme_imagen_circle" alt="">
            </div>
        </div>
        <div class="col-12 col-sm-6">
            <h3>{{ 'aboutMe.Description' | translate }}</h3>
            <p>{{ 'aboutMe.paragraph1' | translate }}</p>

            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit eveniet accusamus ratione
                blanditiis qui temporibus iure magni quis. Sint earum et aut reprehenderit vel voluptas maxime, nisi qui
                expedita velit.</p>
        </div>
    </div>
    <div class='row text-center'>
        <div class="col-12">
            <h3>{{ 'aboutMe.skills' | translate }}</h3>
        </div>
        <div class="col-12 col-sm-6">

            <div class="card my-2">
                <div class="card-body">
                    <h5 class="card-title">Git/Gitflow</h5>
                    <p (click)="clg()">{{ 'aboutMe.moreDetails' | translate }}</p>
                    <p *ngIf="show_git">Aquí voy a colocar alguna información detallada sobre la herramienta....</p>

                </div>
            </div>
            <div class="card my-2">
                <div class="card-body">
                    <h5 class="card-title">Node</h5>
                    <p>{{ 'aboutMe.moreDetails' | translate }}</p>
                </div>
            </div>
            <div class="card my-2">
                <div class="card-body">
                    <h5 class="card-title">Angular</h5>
                    <p>{{ 'aboutMe.moreDetails' | translate }}</p>
                </div>
            </div>

        </div>
        <div class="col-12 col-sm-6">

            <div class="card my-2">
                <div class="card-body">
                    <h5 class="card-title">Mongo</h5>
                    <p>{{ 'aboutMe.moreDetails' | translate }}</p>
                </div>
            </div>
            <div class="card my-2">
                <div class="card-body">
                    <h5 class="card-title">Aws</h5>
                    <p>{{ 'aboutMe.moreDetails' | translate }}</p>
                </div>
            </div>
            <div class="card my-2">
                <div class="card-body">
                    <h5 class="card-title">Typescript</h5>
                    <p>{{ 'aboutMe.moreDetails' | translate }}</p>
                </div>
            </div>

        </div>
        <div class="col-12 ">
            Buton proyects
        </div>
    </div>

</div>