<div class="container aboutme__container--background">
    <div class="row aboutme_row--potho">
        <div class="col-12 text-center my-2">
            <h1>Armando Tapia </h1>
        </div>
        <div class="col-12 col-sm-6 text-center">
            <div>
                <img src="/assets/img/atc_1.jpg" class="aboutme_imagen_circle pb-3" alt="Image Armando Tapia">
            </div>
        </div>
        <div class="col-12 col-sm-6">
            <h3>{{ 'aboutMe.Description' | translate }}</h3>
            <p>{{ 'aboutMe.paragraph_0' | translate }}</p>
            <p>{{ 'aboutMe.paragraph_1' | translate }}</p>
            <p>{{ 'aboutMe.paragraph_2' | translate }} <br> <span> {{ 'aboutMe.paragraph_3' | translate }}</span></p>


        </div>
    </div>
    <div class='row text-center' style="background-color:blueviolet">
        <div class="col-12 my-3">
            <h3>{{ 'aboutMe.skills' | translate }}</h3>
        </div>
        <div class="col-12 col-sm-6">

            <div (click)="showDetails('git')" class="card m-2">
                <div class="card-body">
                    <h5 class="card-title">Git/Gitflow</h5>
                    <p>{{ 'aboutMe.moreDetails' | translate }}</p>
                    <p *ngIf="show_git"> {{ 'skills.skill_1' | translate }}</p>

                </div>
            </div>
            <div (click)="showDetails('node')" class="card m-2">
                <div class="card-body">
                    <h5 class="card-title">Node</h5>
                    <p>{{ 'aboutMe.moreDetails' | translate }}</p>
                    <p *ngIf="show_node"> {{ 'skills.skill_2' | translate }}</p>
                </div>
            </div>
            <div (click)="showDetails('angular')" class="card m-2">
                <div class="card-body">
                    <h5 class="card-title">Angular</h5>
                    <p>{{ 'aboutMe.moreDetails' | translate }}</p>
                    <p *ngIf="show_angular">{{ 'skills.skill_3' | translate }}</p>
                </div>
            </div>

        </div>
        <div class="col-12 col-sm-6">

            <div (click)="showDetails('mongo')" class="card m-2">
                <div class="card-body">
                    <h5 class="card-title">Mongo</h5>
                    <p>{{ 'aboutMe.moreDetails' | translate }}</p>
                    <p *ngIf="show_mongo">{{ 'skills.skill_4' | translate }}</p>
                </div>
            </div>
            <div (click)="showDetails('aws')" class="card m-2">
                <div class="card-body">
                    <h5 class="card-title">Aws</h5>
                    <p>{{ 'aboutMe.moreDetails' | translate }}</p>
                    <p *ngIf="show_aws"> {{ 'skills.skill_5' | translate }} </p>
                </div>
            </div>
            <div (click)="showDetails('goodPractices')" class="card m-2">
                <div class="card-body">
                    <h5 class="card-title">Buenas práctias</h5>
                    <p>{{ 'aboutMe.moreDetails' | translate }}</p>
                    <p *ngIf="show_goodPractices">{{ 'skills.skill_6' | translate }}</p>
                </div>
            </div>

        </div>
        <div class="col-12 ">
            Buton proyects
        </div>
    </div>

</div>