<footer class="footer_container--backgound">

    <ul class="footer_ul--style text-center">
        <li class="list-inline-item">
            <a class="mx-1">
                <i class="fab fa-linkedin-in"> </i>
            </a>
        </li>
        <li class="list-inline-item">
            <a class="mx-1">
                <i class="fab fa-github"></i>
            </a>
        </li>
        <li class="list-inline-item">
            <a class="mx-1">
                <i class="fab fa-medium-m"></i>
            </a>
        </li>
        <li class="list-inline-item">
            <a class="mx-1">
                <i class="fab fa-twitter"> </i>
            </a>
        </li>
    </ul>
</footer>